.card {
  border-radius: 10px;
  border: 1px solid var(--color-secondary);
  transition: 0.3s;
  width: calc(25% - 15px);
  overflow: hidden;
}

.card:hover {
  border: 1px solid var(--color-secondary-hover);
  scale: 1.01;
}

.image {
  max-width: 100%;
  object-fit: cover;
}

.content {
  padding: 20px;
}

.title,
.link {
  color: var(--color-primary);
}

.category {
  font-size: 0.8rem;
}

.area {
  margin-bottom: 15px;
}

.actionsContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.link {
  transition: 0.3s;
}

.link:hover {
  color: var(--color-primary-hover);
}

.button {
  padding: 4px 6px;
  background: transparent;
  border-radius: 5px;
  border: 1px solid var(--color-white);
  color: var(--color-white);
  transition: 0.3s;
  cursor: pointer;
}

.button:hover {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}