.headerContainer {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 30px 0;
}

.link {
  color: var(--color-primary);
  font-size: 1.5rem;
  transition: 0.3s;
}

.link:hover {
  color: var(--color-primary-hover);
}