.container {
  margin: 30px 0;
}

.detailHeader {
  margin-bottom: 2rem;
}

.title {
  font-size: 2rem;
  line-height: 1;
  color: var(--color-primary);
}

.category,
.area {
  font-size: 0.8rem;
}

.recipeDetail {
  display: flex;
  gap: 40px;
}

.image {
  width: 50%;
  max-width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.instructionsTitle {
  font-size: 1.5rem;
  color: var(--color-primary);
  margin-bottom: 10px;
}

.videoLink {
  display: inline-block;
  margin-top: 20px;
  color: var(--color-primary);
  transition: 0.3s;
}
.videoLink:hover {
  color: var(--color-primary-hover);
}

.ingredients {
  margin-top: 20px;
}

.ingredientsTitle {
  margin-bottom: 10px;
}