:root {
  /* Colors */
  --color-white: rgba(255, 255, 255);
  --color-dark: #242424;
  --color-primary: #f59e0b;
  --color-primary-hover: #fbbf24;
  --color-secondary: #374151;
  --color-secondary-hover: #4b5563;
  --color-error: #e63946;

  /* Typography */
  --font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --line-height: 1.5;
  --font-weight: 400;
  --font-weight-bold: 500;
}


/* Reset styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

:root {
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-weight: var(--font-weight);
  color: var(--color-white);
  background-color: var(--color-dark);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
  text-decoration: inherit;
}

a:hover {
  color: var(--color-white);
}

/* General styles */
.button {
  font-size: 1.2rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  color: var(--color-white);
  transition: 0.3s ease;
}

.buttonPrimary {
  background-color: var(--color-primary);
}

.buttonPrimary:hover {
  background-color: var(--color-primary-hover);
}

.buttonSecondary {
  background-color: var(--color-secondary);
}

.buttonSecondary:hover {
  background-color: var(--color-secondary-hover);
}

.text-error {
  color: var(--color-error);
}

.text-highlighted {
  color: var(--color-primary);
}